.form {
  border-radius: 0 8px 8px;
}







 .container-titulo {
  background-color: var(--roxo);
  padding: 8px;
  border-radius: 8px 8px 0 0;
  width: fit-content;
}

 .container-titulo h4 {
  color: var(--cinza-claro);
  font-size: 24px;
  font-weight: 300;
}

 table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
 tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

 thead tr {
  background-color: var(--roxo-claro);
  
  height: 40px;
}
 tr {
  background: white;
  text-align: left;
}
 td,
th {
  padding-left: 32px;
}
 th:last-child{
  border-radius: 0 8px 0 0;
}
 tbody tr:last-child{
  border-bottom: 4px solid var(--roxo);
}
 .conatiner-btns {
  width: 100%;
  height: 100%;
  display: flex;
}
 button {
  width: 100%;
  color: var(--cinza-claro);
  border-left: 0;
  height: 40px;
}
 a{
  width: 100%;
}
 tbody button {
  height: 32px;
}
 .btn-excluir {
  background-color: var(--vermelho);
}
.btn-cancelar{
  justify-content: center;
  align-items: center;
  display: flex;
}
.btn-salvar{
  background-color: var(--roxo);
}
 .btn-editar {
  background-color: var(--verde);
}

 .btn-criar {
  border-top: 0;
  background-color: var(--roxo);
  border-radius: 0 8px 0 0;
}





